WSOrquestador/WSOrquestador/Web References/wsPiloto/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Diponibilidad">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="piloto" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DiponibilidadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DiponibilidadResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarCarrera">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="piloto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarCarreraResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnviarCarreraResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DiponibilidadSoapIn">
    <wsdl:part name="parameters" element="tns:Diponibilidad" />
  </wsdl:message>
  <wsdl:message name="DiponibilidadSoapOut">
    <wsdl:part name="parameters" element="tns:DiponibilidadResponse" />
  </wsdl:message>
  <wsdl:message name="EnviarCarreraSoapIn">
    <wsdl:part name="parameters" element="tns:EnviarCarrera" />
  </wsdl:message>
  <wsdl:message name="EnviarCarreraSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarCarreraResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="Diponibilidad">
      <wsdl:input message="tns:DiponibilidadSoapIn" />
      <wsdl:output message="tns:DiponibilidadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviarCarrera">
      <wsdl:input message="tns:EnviarCarreraSoapIn" />
      <wsdl:output message="tns:EnviarCarreraSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Diponibilidad">
      <soap:operation soapAction="http://tempuri.org/Diponibilidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarCarrera">
      <soap:operation soapAction="http://tempuri.org/EnviarCarrera" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Diponibilidad">
      <soap12:operation soapAction="http://tempuri.org/Diponibilidad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarCarrera">
      <soap12:operation soapAction="http://tempuri.org/EnviarCarrera" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:54554/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:54554/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>