WSOrquestador/WSOrquestador/Web References/wsUbicacion/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UbicacionPiloto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="piloto" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UbicacionPilotoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UbicacionPilotoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UbicacionCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cliente" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UbicacionClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UbicacionClienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UbicacionPilotoSoapIn">
    <wsdl:part name="parameters" element="tns:UbicacionPiloto" />
  </wsdl:message>
  <wsdl:message name="UbicacionPilotoSoapOut">
    <wsdl:part name="parameters" element="tns:UbicacionPilotoResponse" />
  </wsdl:message>
  <wsdl:message name="UbicacionClienteSoapIn">
    <wsdl:part name="parameters" element="tns:UbicacionCliente" />
  </wsdl:message>
  <wsdl:message name="UbicacionClienteSoapOut">
    <wsdl:part name="parameters" element="tns:UbicacionClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="UbicacionPiloto">
      <wsdl:input message="tns:UbicacionPilotoSoapIn" />
      <wsdl:output message="tns:UbicacionPilotoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UbicacionCliente">
      <wsdl:input message="tns:UbicacionClienteSoapIn" />
      <wsdl:output message="tns:UbicacionClienteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UbicacionPiloto">
      <soap:operation soapAction="http://tempuri.org/UbicacionPiloto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UbicacionCliente">
      <soap:operation soapAction="http://tempuri.org/UbicacionCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UbicacionPiloto">
      <soap12:operation soapAction="http://tempuri.org/UbicacionPiloto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UbicacionCliente">
      <soap12:operation soapAction="http://tempuri.org/UbicacionCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:55541/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:55541/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>